
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }
  
  body {
    background-color: #e5e6f0;
  }
  
  header {
    background-color: #ffffff;
    margin: 30px auto 10px;
    width: 80%;
    padding: 30px;
    border-radius: 20px; 
  }
  
  header h2 {
    font-size: 20px;
    font-weight: 700;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    
  }
  main {
    background-color: red; 
    width: 50vw;
    height: 200px;
    margin: 20px auto 0;
    display: flex;
    flex-direction: row;
    column-gap: 20px;
  }
  
  form {
    background-color: #ffffff;
    height: fit-content;
    width: 30%;
    border-radius: 16px;
    padding:16px ;
    box-shadow: -5px -5px 37px 3px rgba(0,0,0,0.75);
  }
  
  aside {
    
    height: 40px;
    width: 50%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  
  }
 
    form button{
      width: 100%;
      background-color: #6931ca;
      color: #ffff;
      font-size: 20px;
      font-weight: bold;
      padding: 16px 20px;
      border: none;
      border-radius: 8px;
      cursor: pointer
    }
    form button:hover{
      background-color: #1d9265;
    }
    .card {
      background-color: #ffffff;
      border-radius: 16px;
      height: fit-content;
      display: flex;
      flex-direction: column;
  
    }
     
    .card img {
      width: 10%;
      height: 20px
      
  
    }
    
    .card .botao-card button#botao-ver{
      background-color: #1d9265;
      border-bottom-left-radius: 16px;
    }
    .card .botao-card button#botao-deletar {
      background-color: red;
      border-bottom-right-radius:  16px;
    }